{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ category.name }}</h1>

        {% for article in articles %}
            <h2>{{ loop.index }} / {{ article.title | capitalize }}</h2>
            <p>{{ article.content }}</p>
        {% endfor %}
{% endblock %}